<template>
    <div class="usage-chart block">
        <bar-chart :data="data" :options="options"/>
    </div>
</template>
<script>
import BarChart from "@/components/chartjs/BarChart";

export default {
    name: "UsageChart",
    components: {BarChart},
    props: {
        user: {
            type: Object,
            default: {},
            required: true
        },
        otherType: {
            type: String,
            default: ""
        },
        otherContract: {
            type: Object,
            default: null
        }
    },
    data() {
        return {
            data: {},
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: true,
                    position: "bottom",
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                        gridLines: {
                            color: "rgba(0, 0, 0, 0)",
                        }
                    }],
                    yAxes: [{
                        stacked: true,
                    }]
                }
            },
            dataOther: [],
            dataTotal: [],
            dataUsed: [],
            flip: false
        }
    },
    created() {
        this.fillData()
    },
    watch: {
        otherType: {
            handler() {
                this.fillData()
            },
            deep: true
        }
    },
    computed: {
        date() {
            return new Date(this.user?.contract_date || null)
        },
        contract() {
            return this.user?.contract
        },
        contractType() {
            return this.user?.contract_type
        },
        contractName() {
            if (this.contractType != null) {
                return (this.contractType + " abonnement").replace("_", " ")
            }
        },
        totalMb() {
            return this.contract?.mb_amount || 0
        },
        totalGb() {
            return this.totalMb / 1000
        },
        hasOtherContract() {
            return this.otherContract != null;
        },
        otherName() {
            if (this.otherType != null) {
                return (this.otherType + " abonnement").replace("_", " ")
            }
            return null
        },
        otherMb() {
            return this.otherContract?.mb_amount || 0
        },
        otherGb() {
            return Math.round(this.otherMb / 1000);
        },
        userData() {
            return this.user?.contract_data
        },
        months() {
            let months = ['januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december'];
            let array = [];
            for (let d in this.userData) {
                if (this.userData.hasOwnProperty(d)) {
                    let date = new Date();
                    date.setMonth(Number.parseInt(d));
                    array.push(months[date.getMonth()])
                }
            }
            return array;
        }
    },
    methods: {
        fillData() {
            this.data = {};
            this.setData();
            let datasets = [];

            if (this.hasOtherContract && this.flip) {
                datasets.push({
                    label: `${this.otherName} (${this.otherGb} Gb)`,
                    backgroundColor: '#8E1C1C',
                    borderColor: '#8E1C1C',
                    borderRadius: 5,
                    borderSkipped: false,
                    cornerRaduis: 5,
                    data: this.dataOther
                });
            }
            datasets.push({
                label: "Jouw verbruik",
                backgroundColor: '#E60000',
                borderColor: '#E60000',
                borderRadius: 5,
                borderSkipped: false,
                cornerRaduis: 5,
                data: this.dataUsed
            });
            if (this.hasOtherContract && !this.flip) {
                datasets.push({
                    label: `${this.otherName} (${this.otherGb} Gb)`,
                    backgroundColor: '#8E1C1C',
                    borderColor: '#8E1C1C',
                    borderRadius: 5,
                    borderSkipped: false,
                    cornerRaduis: 5,
                    data: this.dataOther
                });
            }
            datasets.push({
                label: `${this.contractName} (${this.totalGb} Gb)`,
                backgroundColor: '#777',
                borderColor: '#777',
                borderRadius: 5,
                borderSkipped: false,
                cornerRaduis: 5,
                data: this.dataTotal
            })
            this.data = {
                labels: this.months,
                datasets: datasets
            }
        },
        getRandomInt() {
            return Math.floor(Math.random() * (50 - 5 + 1)) + 5
        },
        setData() {
            this.dataOther = [];
            this.dataUsed = [];
            this.dataTotal = [];
            for (let d in this.userData) {
                if (this.userData.hasOwnProperty(d)) {
                    let usedMb = Number.parseInt(this.userData[d]);
                    let totalMb = this.totalMb - usedMb;
                    if (this.hasOtherContract) {
                        let otherMb = this.otherMb
                        otherMb = otherMb - usedMb;
                        totalMb = totalMb - otherMb;

                        // Customer used more data than contract has to offer
                        if (usedMb > otherMb) {
                            otherMb = this.otherMb
                            usedMb = 0 - (usedMb - otherMb);
                            totalMb = this.totalMb - usedMb - otherMb;
                        }
                        this.dataOther.push(otherMb / 1000)
                    }
                    this.dataTotal.push(totalMb / 1000)
                    this.dataUsed.push(usedMb / 1000)
                }
            }
        },
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/variables";

.usage-chart {
    height: 100%;
    background-color: $white;

    ::v-deep {
        #bar-chart {
            width: 100% !important;
            height: 100% !important;
        }
    }
}
</style>
