<template>
    <div id="login">
        <form action="" class="form" @submit="(e) => {e.preventDefault()}" ref="form">
            <div class="branding">
                <img :src="logo" alt="Vodafone">
            </div>
            <div class="security">
                <input type="number" v-model="code[0]" @keyup="onKeyUp">
                <input type="number" v-model="code[1]" @keyup="onKeyUp">
                <input type="number" v-model="code[2]" @keyup="onKeyUp">
                <input type="number" v-model="code[3]" @keyup="onKeyUpLast">
            </div>
            <div class="button">
                <button ref="button" @click="onSubmit">
                    <span><font-awesome-icon :icon="['fal', icon]" :spin="loading"/></span>
                    <span> Login</span></button>
            </div>
        </form>
    </div>
</template>
<script>
import Logo from "@/assets/logo/vodafone-logo-white.png"
import ViewComponent from "@/components/ViewComponent";

export default {
    name: "LoginView",
    extends: ViewComponent,
    data() {
        return {
            logo: Logo,
            code: {},
            loading: false

        }
    },
    beforeMount() {
        // If no session is available and route path is not root
        if (!this.has_session) {
            // Go to root path nut save redirected path in url parameter
            if (this.$route.path === "/" || this.$route.path === "") {
                this.$router.push({path: `/`})
            } else {
                this.$router.push({path: `/?to=${this.$route.path}`})
            }
        }
    },
    created() {
        this.setThemeColor("#FB0102");
    },
    computed: {
        theCode() {
            if (this.code instanceof Object) {
                return Object.values(this.code).join("")
            }
            return ""
        },
        icon() {
            if (this.loading) {
                return 'sync'
            } else if (this.error) {
                return 'times'
            } else {
                return 'lock'
            }
        }
    },
    methods: {
        onKeyUp($event) {
            // When a number is entered, go to next input.
            $event.target.nextElementSibling.focus()
        },
        onKeyUpLast() {
            // If code is filled in, focus on button
            this.$refs.button.focus()
            // Auto-submit form
            this.onSubmit()
        },
        onSubmit() {
            this.loading = true;

            // Get user data by code
            this.$axios.get(`/customers/${this.theCode}`).then(this.onResponse).catch(this.errResponse)
        },
        onResponse(response) {
            if (response.status === 200 && response.data.id != null) {
                this.$session.set("data", JSON.stringify(response.data))
                this.$session.set("code", this.theCode)
                this.$session.set("id", response.data.id)
                this.redirect();
            } else {
                this.errResponse(response)
            }
        },
        errResponse(error) {
            console.error(error)
            this.code = {};
            this.loading = false
            this.error = true
        },
        redirect() {
            if (this.$route.query.to != null) {
                this.$router.push({path: `${this.$route.query.to}`})
            } else {
                this.$router.push({path: "/main"})
            }
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/views/Login";
</style>
