<template>
    <div id="logout"></div>
</template>
<script>
export default {
    name: "Logout",
    beforeMount() {
        this.$session.clear();
        console.log("Logged out")
        setTimeout(this.redirect, 200);
    },
    methods: {
        redirect() {
            this.$router.push({path: "/"})
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/master";

#logout {
    width: 100%;
    height: 100vh;
    @include gradient();
}
</style>
