<template>
    <div id="vodafone-app">
        <div id="top">
            <div class="bar">
                <div class="profile">
                    <div class="circle">
                        <font-awesome-icon :icon="['fal', 'user-friends']"/>
                    </div>
                    <div class="circle" :style="{backgroundImage: `url('${image}')`}">
                    </div>
                    <h3>profiel</h3>
                </div>
                <div class="profile contact">
                    <div class="circle invert flex">
                        <font-awesome-icon :icon="['fal', 'comments']" @click="tryNotification"/>
                    </div>
                    <router-link to="/logout" class="circle invert flex">
                        <font-awesome-icon :icon="['fal', 'sign-out']"/>
                    </router-link>
                </div>
            </div>
            <header>
                <h1>Goedemiddag {{ name }}!</h1>
            </header>
        </div>
        <div id="bottom">
            <a v-if="showButton" class="bar invert" href="#" @click="doPermission">
                <div class="top-bar">
                    <div class="content">
                        <div class="title">
                            <h4>Meldingen toestemming</h4>
                            <span>Om optimaal gebruik te maken van de app, vragen we je toestemming om meldingen te sturen.</span>
                            <br>
                            <span>Ja, ik wil meldingen!</span>
                        </div>
                    </div>
                </div>
                <div class="sub-text">
                    <span>Klik hier</span>
                </div>
            </a>
            <router-link to="/story" class="bar invert image" :style="{backgroundImage: `url('${background}')`}">
                <div class="top-bar">
                    <div class="content">
                        <div class="title">
                            <h4>Jouw terugblikmoment</h4>
                            <span>Het laatste half jaar in een paar minuten.</span>
                            <br>
                            <span>Bekijk hem snel!</span>
                        </div>
                    </div>
                </div>
                <div class="sub-text">
                    <span>Klik hier</span>
                </div>
            </router-link>
            <div class="bar">
                <div class="top-bar space">
                    <div class="content">
                        <div class="icon">
                            <font-awesome-icon :icon="['fal', 'analytics']"/>
                        </div>
                        <div class="title">
                            <h4>Tegoed</h4>
                        </div>
                    </div>
                    <div class="cost">
                        <h3>{{ usedGb }}Gb
                            <sub>/ {{ totalGb }}Gb</sub>
                        </h3>
                    </div>
                </div>
                <div class="progress-bar">
                    <div class="progress" :style="{width: `${percentage}%`}"></div>
                </div>
                <div class="sub-text">
                    <h6>Nog {{ daysToGo }} dagen</h6>
                </div>
            </div>
            <div class="bar">
                <div class="top-bar">
                    <div class="content">
                        <div class="icon">
                            <font-awesome-icon :icon="['fal', 'file-alt']"/>
                        </div>
                        <div class="title">
                            <h4>Rekeningen</h4>
                        </div>
                    </div>
                </div>
                <div class="sub-text">
                    <h6>Bekijken</h6>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import md5 from "md5";
import ViewComponent from "@/components/ViewComponent";
import Glass from "@/assets/images/glass.jpg"

export default {
    name: "Main",
    extends: ViewComponent,
    data() {
        return {
            show: true,
            requestPermission: null,
            background: Glass
        }
    },
    mounted() {
        this.setThemeColor("#FB0102");
    },
    computed: {
        user() {
            return this.response || {}
        },
        name() {
            return this.user?.firstname || "Harry"
        },
        email() {
            return this.user?.email || null
        },
        image() {
            if (this.email != null) {
                return `https://www.gravatar.com/avatar/${md5(this.email)}?s=50&d=https://media.insiders.nl/gor/files/image/voda_3655596261.png`
            }
            return "https://avatars.githubusercontent.com/u/5527137?s=460&u=185af9193392decc1436fe587d44086512dfbed3&v=4"
        },
        contractData() {
            return this.user?.contract_data || []
        },
        contract() {
            return this.user?.contract || {}
        },
        totalMb() {
            return this.contract?.mb_amount || 0
        },
        usedMb() {
            return Number.parseInt(this.contractData[this.contractData.length - 1]) || 0
        },
        totalGb() {
            return Math.round((this.totalMb / 1000) * 10) / 10
        },
        usedGb() {
            return Math.round((this.usedMb / 1000) * 10) / 10
        },
        percentage() {
            return Math.round((this.usedMb / this.totalMb) * 100)
        },
        daysToGo() {
            let dt = new Date();
            let month = dt.getMonth();
            let year = dt.getFullYear();
            return new Date(year, month - 1, 0).getDate() - dt.getDate();
        },
        hasServiceWorker() {
            return ("serviceWorker" in navigator);
        },
        hasNotificationSupport() {
            return ("Notification" in window);
        },
        showButton() {
            if (!this.hasServiceWorker) {
                return false
            }
            if (!this.hasNotificationSupport) {
                return false;
            }
            return this.requestPermission == null;
        }
    },
    methods: {
        doPermission() {
            // Check if Notification is supported
            if (!this.hasNotificationSupport) {
                alert("This browser does not support desktop notification");
            }
            // Check whether the notification permissions are granted
            else if (Notification.permission === "granted") {
                // If yes, send a notification
                this.sendNotification()
            }
            // If not, we need to ask for permission if not granted yet
            else if (this.requestPermission !== "denied") {
                Notification.requestPermission().then((permission) => {
                    // If the user accepts, the user receives a notification
                    console.log(permission)
                    if (permission === "granted") {
                        this.sendNotification()
                    }
                }).catch((err) => {
                    console.error(err)
                });
            }
            this.requestPermission = Notification.permission;
        },
        tryNotification() {
            if (!this.hasServiceWorker) {
                alert("serviceWorker not active")
                return;
            }
            if (!this.hasNotificationSupport) {
                alert("This browser does not support desktop notification");
                return;
            }
            if (this.requestPermission !== "granted") {
                alert("No permission to send notifications")
                return;
            }
            this.sendNotification()
        },
        sendNotification() {
            if (Notification.permission === "granted") {
                navigator.serviceWorker.ready.then((reg) => {
                    reg.showNotification("Jouw abonnement in een paar minuten.", {
                        body: "Tik hier om meer te weten te komen over je abonnement en hoe je kosten kan besparen.",
                        badge: "../img/icons/chrome-touch-icon-96x96.png",
                        icon: "../img/icons/chrome-touch-icon-transparent.png",
                        silent: false,
                        timestamp: new Date(),
                        actions: [
                            {
                                action: 'open',
                                title: "Openen"
                            }
                        ]
                    })
                })
            }
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/views/Main";
</style>
