<template>
    <story-frame :stories="stories" :user="user" :url="url" @time="setTime" @index="setIndex" ref="frame"/>
</template>
<script>
import StoryFrame from "@/components/StoryFrame";
import WelcomeSlide from "@/components/slide/WelcomeSlide";
import IntroSlide from "@/components/slide/IntroSlide";
import ViewComponent from "@/components/ViewComponent";
import UsageSlide from "@/components/slide/DataUsageSlide";
import CallingUsageSlide from "@/components/slide/CallingUsageSlide";
import UnlimitedCallSlide from "@/components/slide/UnlimitedCallSlide";
import FutureSlide from "@/components/slide/FutureSlide";
import FutureIntroSlide from "@/components/slide/FutureIntroSlide";
import VersusSlide from "@/components/slide/VersusSlide";
import SummarySlide from "@/components/slide/SummarySlide";
import SummaryTotalSlide from "@/components/slide/SummaryTotalSlide";
import RecommendationSlide from "@/components/slide/RecommendationSlide";
import ChoiceSlide from "@/components/slide/ChoiceSlide";
import TheEndSlide from "@/components/slide/TheEndSlide";

// , url: "https://www.vodafone.nl/abonnement/mobiel/telefoon/apple-iphone-12-pro-128gb-graphite?duration=24&subscription=red63-red-unlimited&ziggo=false&device-payment-plan-id=toestelbetaling-40-euro-2jr-ccr&together-extra-subscription-count=0"

export default {
    name: "Story",
    extends: ViewComponent,
    components: {StoryFrame},
    data() {
        return {
            loaded: false,
            index: 0,
            time: 0,
            stories: []
        }
    },
    mounted() {
        this.setStories();
        this.setThemeColor("#000");
    },
    computed: {
        story() {
            return this.stories[this.index] || {}
        },
        url() {
            return this.story?.url || null;
        },
        user() {
            return this.response || {}
        },
        contract() {
            return this.user?.contract || {}
        },
        unlimited() {
            return (this.contract?.calling_minutes || 0) === 999
        },
    },
    methods: {
        setTime(time) {
            this.time = time;
        },
        setIndex(index) {
            this.index = index;
        },
        setStories() {
            this.stories.push({duration: 12000, component: WelcomeSlide});
            this.stories.push({duration: 18000, component: IntroSlide});
            this.stories.push({duration: 12000, component: UsageSlide});
            this.stories.push({duration: 10000, component: CallingUsageSlide});
            if (this.unlimited) {
                this.stories.push({duration: 5000, component: UnlimitedCallSlide});
            }
            this.stories.push({duration: 8000, component: FutureSlide});
            this.stories.push({duration: 10000, component: FutureIntroSlide});
            // this.stories.push({duration: 10000, component: ProposalSlide});
            this.stories.push({duration: 15000, component: VersusSlide});
            this.stories.push({duration: 14000, component: SummarySlide});
            this.stories.push({duration: 14000, component: SummaryTotalSlide});
            this.stories.push({duration: 20000, component: RecommendationSlide});
            this.stories.push({duration: 15000, component: ChoiceSlide});
            this.stories.push({duration: 10000, component: TheEndSlide});
            this.stories.push({duration: 1000})

            // 2056
            // 2342
            // 3184
            // 4043
            // 3759
            // 1405
        }
    }
}
</script>
