@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/animations";

#the-end {

  a, button {
    color: $white;
    font-size: 20px;
    background-color: transparent;
    border: 0;

    & span {
      line-height: 20px;
    }
  }

  .end-container {
    margin-top: 20px;
    z-index: 999;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
