@import "src/assets/stylesheets/master";

#login {
  width: 100%;
  height: 100vh;
  @include gradient();
  display: flex;
  justify-content: center;
  align-items: center;

  & form {
    padding: 0 40px;

    & .branding {
      margin-bottom: 40px;
    }

    & .security {
      display: flex;
      justify-content: space-between;

      & input {
        color: $white;
        background-color: darken($red, 5%);
        font-size: 30pt;
        text-align: center;
        width: 60px;
        height: 60px;
        text-decoration: none;
        border: 0;
      }
    }

    & .button {
      margin-top: 35px;

      & button {
        color: $red;
        background-color: $white;
        border: 0;
        width: 100%;
        line-height: 45px;
      }
    }
  }
}
