@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/mixins";

#vodafone-app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  & #top {
    color: $white;
    font-weight: 400;
    width: 100%;
    height: 50vh;
    padding: 10px 5px 30px;
    display: flex;
    flex-direction: column;
    background: $red_light;
    background: linear-gradient(180deg, $red_light 0%, $red_dark 67%);

    $circle_radius: 50px;

    & .circle {
      color: $red;
      background-color: $white;
      background-size: cover;
      font-size: 20px;
      text-align: center;
      width: $circle_radius;
      height: $circle_radius;
      line-height: $circle_radius;
      border-radius: $circle_radius;
      margin: 0 5px;

      &.invert {
        color: $white;
        background-color: transparent;
      }
      &.flex {
        width: auto;
        margin: 0 10px;
      }
    }

    & .bar {
      display: flex;
      justify-content: space-between;
      line-height: 50px;

      & .profile {
        display: flex;
      }
    }

    & header {
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      & .button {
        color: $red;
        background-color: $white;
        text-decoration: none;
        border: 1px solid $white;
        line-height: 50px;
        padding: 0 10px;
        border-radius: 40px;
        display: inline-block;
        margin-right: 10px;
        margin-top: 20px;

        &.link {
          color: $white;
          background-color: transparent;
        }
      }
    }
  }

  #bottom {
    background-color: $grey;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 20px 20px 10px;
    margin-top: -20px;

    & .bar {
      color: $black;
      background-color: $white;
      background-size: cover;
      font-family: inherit;
      font-size: 100%;
      font-weight: inherit;
      text-align: left;
      width: 100%;
      min-height: 60px;
      text-decoration: none;
      box-shadow: 0 0 2px 1px #D2D2D2;
      border-radius: 7px;
      border: 0;
      margin-bottom: 20px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:focus {
        background-color: $grey;
      }

      &.invert {
        color: $white;
        background-color: $red;
        //@include gradient();
        min-height: 100px;

        &:focus {
          background-color: $red_dark;
        }

        & a {
          color: white;
        }

        & .sub-text,
        & .top-bar {
          padding: 10px;
        }
      }
      &.image {
        & .sub-text,
        & .top-bar {
          background-color: rgba($black, 0.6);
          padding: 10px;
        }
      }


      & a {
        text-decoration: none;
      }

      & .top-bar {
        display: flex;
        padding: 10px;

        &.space {
          justify-content: space-between;
        }

        & .content {
          display: flex;
        }

        & .icon {
          margin-right: 10px;
        }

        & .title h4 {
          font-weight: 800;
        }
      }

      & .progress-bar {
        background-color: $grey;
        height: 5px;
        margin: 0 10px;
        border-radius: 10px;

        & .progress {
          background-color: $red;
          height: 100%;
          border-radius: inherit;
          transition: 0.5s;
        }
      }
      & .sub-text {
        padding: 10px;
      }
    }
  }
}
