@import "src/assets/stylesheets/master";

#story-frame {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & .hud {
    transition: 0.3s;
    opacity: 1;
  }

  &.paused .hud {
    opacity: 0;
  }

  & .canvas {
    background-color: $black;
    width: 100%;
    height: 90vh;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    & .close, & .close-pause {
      position: absolute;
      right: 0;
      top: 10px;
      z-index: 900;

      & a, & button {
        background-color: transparent;
        color: rgba($grey, 50%);
        border: 0;
        font-size: 25px;
        line-height: 15px;
        padding: 12px;
        display: block;
      }
    }

    & .close-pause {
      right: auto;
      left: 0;
    }

    & .progress {
      height: 3px;
      padding: 6px 5px;
      display: flex;
      z-index: 900;
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;

      & .part {
        background-color: rgba($white, 0.1);
        width: 100%;
        height: inherit;
        border-radius: 5px;
        margin: 0 2px;
        display: block;

        &.seen {
          background-color: $white;
        }

        &.current .bar {
          transition: 0.1s;
        }

        & .bar {
          background-color: $white;
          height: 100%;
          border-radius: inherit;
        }
      }
    }

    & .side {
      color: $white;
      background-color: transparent;
      font-size: 16px;
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transition: 0.5s;
      z-index: 120;
      top: 0;
      -webkit-animation: linear infinite alternate;
      -webkit-animation-duration: 800ms;

      &.hide {
        color: transparent;
      }

      &.prev {
        padding-left: 5px;
        left: 0;
        justify-content: flex-start;
        -webkit-animation-name: left;
      }

      &.pause {
        justify-content: center;
        z-index: 115;
        left: 0;
        right: 0;
        width: 100%;
      }

      &.next {
        padding-right: 5px;
        right: 0;
        justify-content: flex-end;
        -webkit-animation-name: right;
      }

      @-webkit-keyframes left {
        0% { padding-left: 5px;}
        50% { padding-left: 10px;}
        100% { padding-left: 5px;}
      }

      @-webkit-keyframes right {
        0% { padding-right: 5px;}
        50% { padding-right: 10px;}
        100% { padding-right: 5px;}
      }
    }

    & .screen {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  .swipe-up-container {
    color: $black;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    z-index: 220;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;

    &.show {
      opacity: 1;
    }

    & .swipe-up {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
      text-decoration: none;

      & .icon {
        color: $white;
        font-size: 18px;
        margin-bottom: 1px;
        -webkit-animation: ease infinite;
        -webkit-animation-duration: 2000ms;
        -webkit-animation-name: swipe-up;
      }

      & span {
        color: $black;
        background-color: $white;
        font-size: 16px;
        font-weight: 800;
        line-height: 28px;
        padding: 5px 20px 8px;
        border-radius: 20px;
      }
    }

    @-webkit-keyframes swipe-up {
      0% { margin-bottom: 5px;}
      50% { margin-bottom: 1px;}
      100% { margin-bottom: 5px;}
    }
  }

  .state {
    color: $white;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 5px;
  }
}
