<template>
</template>
<script>
import Slide from "@/components/Slide";

export default {
    name: "CalculationSlide",
    extends: Slide,
    props: {
        contractTypes: {
            type: Array,
            required: true,
            default: []
        },
        otherType: {
            type: String,
            required: true,
            default: ""
        },
        otherContract: {
            type: Object,
            required: true,
            default: {}
        }
    },
    computed: {
        contract_index() {
            let index = -1;
            (this.contractTypes || []).forEach((type, i) => {
                if (this.contractType === type) {
                    index = i;
                }
            })
            return index;
        },
        contractMbs() {
            return this.contract?.mb_amount || 0
        },
        contractMbsTotal() {
            return this.contractMbs * this.months
        },
        contractGbs() {
            return this.contractMbs / 1000
        },
        contractGbsTotal() {
            return this.contractMbsTotal / 1000
        },
        contractMinutes() {
            return this.contract?.calling_minutes || 0
        },
        contractMinutesTotal() {
            return this.contractMinutes * this.months
        },
        contractMinutesText() {
            return this.contractMinutes === 999? "Onbeperkt bellen" : `${this.contractMinutes} belminuten`
        },
        contractMinutesTotalText() {
            return this.contractMinutes === 999? "Onbeperkt bellen" : `${this.contractMinutesTotal} belminuten`
        },
        contractPrice() {
            return (Math.round((this.contract?.price_month || 0) * 100) / 100).toFixed(2);
        },
        contractPriceTotal() {
            return this.contractPrice * this.months
        },
        usedMinutes() {
            return this.user?.contract_calling_minutes || []
        },
        usedMinutesTotal() {
            let count = 0;
            (this.usedMinutes || []).forEach((minutes) => {
                count += minutes
            })
            return count;
        },
        usedMbs() {
            return this.user?.contract_data || []
        },
        usedMbsTotal() {
            let count = 0;
            (this.usedMbs || []).forEach((mb) => {
                count += mb
            })
            return count;
        },
        usedGbTotal() {
            return (Math.round(this.usedMbsTotal / 1000) / 10) * 10;
        },
        usedGbsPercentage() {
            return Math.round((this.contractGbsTotal / this.usedGbTotal) * 100);
        },
        otherIndex() {
            let index = -1;
            (this.contractTypes || []).forEach((type, i) => {
                if (this.otherType === type) {
                    index = i;
                }
            })
            return index;
        },
        otherName() {
            if (this.otherType != null) {
                return this.otherType.replace("_", " ")
            }
            return null;
        },
        otherMbs() {
            return this.otherContract?.mb_amount || 0
        },
        otherMbsTotal() {
            return this.otherMbs * this.months
        },
        otherGbs() {
            return this.otherMbs / 1000
        },
        otherGbsTotal() {
            return this.otherMbsTotal / 1000
        },
        otherGbsText() {
            if (this.usedGbTotal > this.otherGbsTotal) {
                return `${this.usedGbTotal} Gb/ ${this.otherGbsTotal} Gb`
            }
            return `${this.otherGbsTotal} Gb`
        },
        otherMinutes() {
            return this.otherContract?.calling_minutes || 0
        },
        otherMinutesTotal() {
            return this.otherMinutes * this.months
        },
        otherMinutesText() {
            return this.otherMinutes === 999? "Onbeperkt bellen" : `${this.otherMinutes} belminuten`
        },
        otherPrice() {
            return this.otherContract?.price_month || 0
        },
        otherPriceTotal() {
            return this.otherPrice * this.months
        },
        isCheaperContract() {
            return this.contract_index < this.otherIndex;
        },
        isExpensiveContract() {
            return this.contract_index > this.otherIndex;
        },
        isSameContract() {
            return this.contract_index === this.otherIndex;
        },
        limitData() {
            if (this.usedGbTotal > this.otherGbsTotal) {
                return this.usedGbTotal - this.otherGbsTotal
            }
            return 0
        },
        finesData() {
            return ((this.limitData * 1000) / 200) * 2
        },
        limitMinutes() {
            if (this.otherMinutes !== 999 && this.usedMinutesTotal > (this.otherMinutes * this.months)) {
                return this.usedMinutesTotal - (this.otherMinutes * this.months)
            }
            return 0
        },
        finesMinutes() {
            return this.limitMinutes * 0.25
        },
        totalPrice() {
            return this.otherPriceTotal + this.finesData + this.finesMinutes
        },
        totalPricePercentage() {
            // Other contract is more expensive than current contract
            if (this.totalPrice >= this.contractPriceTotal) {
                return Math.round((this.contractPriceTotal / this.totalPrice) * 100);
            }
            // Other contract is cheaper than current contract
            // The calculation will be turned around if the total price is lower than the contract price
            // To level the calculation with the normal percentage, 100 is added to the percentage.
            return (Math.round((this.totalPrice / this.contractPriceTotal) * 100) + 100);
        },
        otherIsCheaper() {
            return this.totalPricePercentage > 110
        },
        otherIsExpensive() {
            return this.totalPricePercentage < 90
        },
        otherIsSame() {
            return (!this.otherIsCheaper && !this.otherIsExpensive)
        },
        totalPriceDifference() {
            // Other contract is more expensive than current contract
            if (this.totalPrice >= this.contractPriceTotal) {
                return this.totalPrice - this.contractPriceTotal
            }
            // Other contract is cheaper than current contract
            return this.contractPriceTotal - this.totalPrice
        },
        totalMinutesText() {
            return this.otherMinutes === 999? "Onbeperkt bellen" : `${this.usedMinutesTotal}/ ${this.otherMinutes * this.months} belminuten`
        },
    }
}
</script>
<style scoped>
</style>
