<template>
</template>
<script>
export default {
    name: "Slide",
    props: {
        user: {
            type: Object,
            default: {
                id: "",
                firstname: "",
                lastname: "",
                email: "",
                phone: "",
                pin: "",
                contract_type: "",
                contract_date: "",
                contract_data_used: "",
                contract_calling_minutes_used: "",
                contract_length: 2,
                new_contract_type: null,
                app_installed: false,
                contract_data: [],
                contract_calling_minutes: [],
                contract: {
                    "price_month": 0,
                    "mb_amount": 0,
                    "calling_minutes": 0,
                    "share_data": false
                }
            }
        },
        time: {
            type: Number,
            default: 0
        },
        paused: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            months: 6
        }
    },
    computed: {
        name() {
            return this.user?.firstname || "Naam"
        },
        contract() {
            return this.user?.contract || {}
        },
        contractDate() {
            return new Date(this.user?.contract_date || null)
        },
        contractType() {
            return this.user?.contract_type
        },
        contractName() {
            if (this.contractType != null) {
                return this.contractType.replace("_", " ")
            }
            return null;
        },
        newContractType() {
            return this.$session.get('new_contract_type') || this.user?.new_contract_type || null;
        },
        newContractName() {
            if (this.newContractType != null) {
                return this.newContractType.replace("_", " ")
            }
            return null;
        },
    },
    methods: {
        past(milliseconds) {
            return this.time >= milliseconds
        },
        before(milliseconds) {
            return this.time <= milliseconds
        },
        on(past, before) {
            return this.before(before) && this.past(past)
        }
    }
}
</script>
<style scoped>
</style>
