<template>
    <div id="story-frame" :class="showHud? 'playing' : 'paused'">
        <v-touch @swipeleft="swipeLeft"
                 @swiperight="swipeRight"
                 @swipeup="swipeUp"
                 @swipedown="swipeDown"
                 @mousedown="stop"
                 @mouseup="play"
                 @touchstart="stop"
                 @touchend="play">
            <div class="canvas">
                <div class="side prev" :class="`${this.showTaps? 'show' : 'hide'}`" @click="swipeLeft">
                    <font-awesome-icon :icon="['fal', 'chevron-double-left']"/>
                </div>
                <div class="side next" :class="`${this.showTaps? 'show' : 'hide'}`" @click="swipeRight">
                    <font-awesome-icon :icon="['fal', 'chevron-double-right']"/>
                </div>
                <div class="side pause" :class="`${this.showTaps? 'show' : 'hide'}`"
                     @mousedown="stop"
                     @mouseup="play"
                     @touchstart="stop"
                     @touchend="play">
                    <font-awesome-icon :icon="['fal', paused? 'pause': 'play']"/>
                </div>
                <div class="hud progress">
                    <div v-for="(index) in indexes" :key="index" :id="`part-${index}`" :data-index="currentIndex" :class="`part ${currentIndex > index? 'seen' : ''} ${index === currentIndex? 'current' : ''}`">
                        <div class="bar" :style="{width: (currentIndex > index)? '100%' : (index === currentIndex? `${progress}%`: '0%')}">
                        </div>
                    </div>
                </div>
                <div class="hud close">
                    <router-link to="/">
                        <font-awesome-icon :icon="['fal', 'times']"/>
                    </router-link>
                </div>
                <div class="hud close-pause">
                    <button @click="toggle">
                        <font-awesome-icon :icon="['fal', this.paused? 'pause': 'play']"/>
                    </button>
                </div>
                <div class="screen">
                    <story-switcher :stories="stories"
                                    :user="user"
                                    :component="component"
                                    :time="time"
                                    :paused="paused"
                                    @next="next"
                                    @restart="restart"/>
                </div>
            </div>
            <div class="swipe-up-container" :class="`${showSwipeUp? 'show' : 'hide'}`">
                <a class="swipe-up" @click="swipeUp">
                    <div class="icon">
                        <font-awesome-icon :icon="['fal', 'arrow-up']"/>
                    </div>
                    <span>Bekijken</span>
                </a>
            </div>
        </v-touch>
    </div>
</template>
<script>
import StorySwitcher from "@/components/StorySwitcher";

export default {
    name: "StoryFrame",
    components: {StorySwitcher},
    props: {
        stories: {
            type: Array,
            default: [],
            required: true
        },
        user: {
            type: Object,
            default: {},
            required: true
        },
        url: String
    },
    data() {
        return {
            paused: false,
            ended: false,
            showTaps: true,
            showHud: true,
            showSwipeUp: false,
            direction: null,
            update: 50,
            currentIndex: 0,
            time: 0,
            theme: null,
            html: null,
            fullscreen: false
        }
    },
    created() {
        this.start();
    },
    updated() {
        this.openFullscreen()
    },
    mounted() {
        this.openFullscreen()
    },
    beforeDestroy() {
        clearInterval(this.interval)
        this.closeFullscreen()
    },
    watch: {
        progress() {
            if (this.progress > 100) { // Story has finished (progress greater than 100)
                if (this.currentIndex === this.stories.length - 1) { // Last story and story has finished (progress greater than 100)
                    this.end();
                } else {
                    this.next();
                }
            }
        },
        currentIndex(i) {
            this.$emit('index', i)
        },
        time(i) {
            this.$emit('time', i)
        },
        url() {
            this.checkSwipeUp()
        },
        pause() {
            if (this.paused) {
                setTimeout(this.hideHud, 1000);
            } else {
                this.showHud();
            }
        }
    },
    computed: {
        text() {
            return this.story.text;
        },
        progress() {
            return Math.floor((this.time / this.duration) * 100)
        },
        story() {
            return this.stories[this.currentIndex] || {}
        },
        indexes() {
            let array = [];
            for (let i in this.stories) {
                array.push(Number.parseInt(i))
            }
            return array;
        },
        duration() {
            return this.story?.duration ?? 6000;
        },
        component() {
            return this.story?.component || null;
        },
    },
    methods: {
        start() {
            this.html = document.getElementsByTagName('html')[0]
            this.interval = setInterval(this.tick, this.update)
            setTimeout(this.hideTaps, 2000);
            // setTimeout(this.play, 500)
            this.checkSwipeUp();
            this.openFullscreen()
            this.restart()
        },
        restart() {
            this.time = 0;
            this.paused = false;
            this.ended = false;
            this.currentIndex = 0;
        },
        play(e) {
            this.$emit('play')
            this.paused = false
            if (e != null) e.preventDefault()
        },
        stop(e) {
            this.$emit('stop')
            this.paused = true
            if (e != null) e.preventDefault()
        },
        toggle() {
            if (this.paused) {
                this.play()
            } else {
                this.stop();
            }
        },
        swipeLeft() {
            this.$emit('swipeLeft')
            this.prev();
        },
        swipeRight() {
            this.$emit('swipeRight')
            this.time = this.duration;
        },
        swipeUp() {
            if (this.url != null) {
                location.href = this.url
            }
            this.$emit('swipeUp')
        },
        swipeDown() {
            this.$emit('swipeDown')
            this.quit()
        },
        next() {
            this.play()
            this.time = 0;
            if (this.currentIndex < this.stories.length) {
                this.currentIndex++;
            }
        },
        prev() {
            this.play()
            this.time = 0;
            if (this.currentIndex > 0) {
                this.currentIndex--;
            }
        },
        end() {
            this.ended = true
            this.stop();
        },
        quit() {
            this.$router.push({path: '/'})
        },
        tick() {
            if (!this.paused) {
                this.time = this.time + this.update;
            }
        },
        hideTaps() {
            this.showTaps = false
        },
        showTaps() {
            this.showTaps = true
        },
        hideSwipeUp() {
            this.showSwipeUp = false
        },
        showSwipeUp() {
            if (this.url != null) {
                this.showSwipeUp = true
            }
        },
        doSwipeUp() {
            setTimeout(this.showSwipeUp, 1000);
        },
        checkSwipeUp() {
            let url = this.url ?? null
            if (url != null) {
                this.doSwipeUp();
            } else {
                this.hideSwipeUp();
            }
        },
        hideHud() {
            if (this.paused && !this.ended) this.showHud = false
        },
        showHud() {
            this.showHud = true
        },
        openFullscreen() {
            if (document.fullscreenEnabled && !this.fullscreen) {
                let options = {
                    navigationUI: "hide"
                }
                if (this.html.requestFullscreen) {
                    this.html.requestFullscreen(options);
                    this.fullscreen = true
                } else if ("webkitRequestFullscreen" in this.html) { /* Safari */
                    this.html.webkitRequestFullscreen(options);
                    this.fullscreen = true
                } else if ("msRequestFullscreen" in this.html) { /* IE11 */
                    this.html.msRequestFullscreen(options);
                    this.fullscreen = true
                }
            }
        },
        closeFullscreen() {
            if (document.fullscreenElement != null && this.fullscreen) {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                    this.fullscreen = false
                } else if ("webkitExitFullscreen" in document) { /* Safari */
                    document.webkitExitFullscreen();
                    this.fullscreen = false
                } else if ("msExitFullscreen" in document) { /* IE11 */
                    document.msExitFullscreen();
                    this.fullscreen = false
                }
            }
        }
    }
}
</script>
<style lang="scss">
@import "src/assets/stylesheets/views/StoryFrame";
</style>
