<template>
    <component v-if="component != null && loaded"
               :is="component"
               :user="user"
               :contract-types="contractTypes"
               :other-type="otherType"
               :other-contract="otherContract"
               :time="time"
               :paused="paused"
               @next="doNext"/>
    <end-slide v-else-if="loaded"
               :stories="stories"
               :user="user"
               :paused="paused"
               @restart="doRestart"/>
</template>
<script>
import EndSlide from "@/components/slide/EndSlide";

export default {
    name: "StorySwitcher",
    components: {EndSlide},
    props: {
        component: {
            default: null,
            required: true
        },
        stories: {
            type: Array,
            default: [],
            required: true
        },
        user: {
            type: Object,
            default: {},
            required: true
        },
        time: {
            type: Number,
            default: 0,
            required: true
        },
        paused: {
            type: Boolean,
            default: false,
            required: true
        }
    },
    data() {
        return {
            loaded: false,
            contractTypes: [],
            cheaperContract: {},
            expensiveContract: {},
            otherContract: {},
        }
    },
    beforeMount() {
        console.log("types")
        this.$axios.get(`/contracts/types/`).then(this.getTypes)
    },
    mounted() {
        this.loaded = true;
    },
    computed: {
        contractType() {
            return this.user?.contract_type || ""
        },
        usedMbs() {
            let count = 0;
            (this.user.contract_data || []).forEach((mb) => {
                count = count + mb;
            })
            return count;
        },
        months() {
            return (this.user.contract_data || []).length
        },
        contractIndex() {
            let index = -1;
            this.contractTypes.forEach((type, i) => {
                if (type === this.contractType) {
                    index = i;
                }
            })
            return index;
        },
        cheaperType() {
            return this.contractTypes[this.contractIndex + 1] || null;
        },
        cheaperMb() {
            return this.cheaperContract?.mb_amount || 0;
        },
        cheaperMbs() {
            let count = 0;
            for (let i = 0; i < this.months; i++) {
                count = count + this.cheaperMb;
            }
            return count
        },
        expensiveType() {
            return this.contractTypes[this.contractIndex - 1] || null;
        },
        expensiveMb() {
            return this.expensiveContract?.mb_amount || 0;
        },
        expensiveMbs() {
            let count = 0;
            for (let i = 0; i < this.months; i++) {
                count = count + this.expensiveMb;
            }
            return count
        },
        otherType() {
            const closest = [this.cheaperMbs, this.expensiveMbs].reduce((a, b) => {
                return Math.abs(b - this.usedMbs) < Math.abs(a - this.usedMbs)? b : a;
            })
            if (this.cheaperMbs === closest) {
                this.otherContract = this.cheaperContract;
                return this.cheaperType
            }
            if (this.expensiveMbs === closest) {
                this.otherContract = this.expensiveContract;
                return this.expensiveType
            }
            return "";
        },
    },
    methods: {
        doRestart() {
            this.$emit("restart")
        },
        doNext() {
            this.$emit("next")
        },
        getTypes(response) {
            this.contractTypes = response?.data || [];
            if (this.cheaperType != null) {
                this.$axios.get(`/contracts/${this.cheaperType}/`).then(this.getCheaperContract)
            }
            if (this.expensiveType != null) {
                this.$axios.get(`/contracts/${this.expensiveType}/`).then(this.getExpensiveContract)
            }
        },
        getCheaperContract(response) {
            this.cheaperContract = response?.data || {};
        },
        getExpensiveContract(response) {
            this.expensiveContract = response?.data || {};
        }
    }
}
</script>
<style scoped>
</style>
