<template>
</template>
<script>
export default {
    name: "ViewComponent",
    data() {
        return {
            html: HTMLElement,
            theme: HTMLElement,
            themeColor: null,
            response: null
        };
    },
    beforeMount() {
        this.html = document.getElementsByTagName("html")[0];
        this.theme = document.querySelectorAll('meta[name="theme-color"]');
        if (this.$session.get('data') == null) {
            this.$router.push({path: `?to=${this.$route.path}`})
        } else {
            console.log(JSON.parse(this.$session.get('data')))
            this.response = JSON.parse(this.$session.get('data'));
        }
    },
    methods: {
        setThemeColor(color) {
            this.themeColor = color;
            if (this.theme != null && this.theme instanceof NodeList) {
                this.theme.forEach((node) => {
                    node.setAttribute("content", this.themeColor);
                })
                // this.theme.setAttribute("content", color);
            }
            if (this.html != null && this.html instanceof HTMLElement) {
                this.html.setAttribute("style", `background-color: ${this.themeColor};`);
            }
        }
    }
}
</script>
<style scoped>
</style>
