<script>
import VueChartJs from 'vue-chartjs'

export default {
    extends: VueChartJs.Bar,
    props: ['data', 'options'],
    mounted () {
        this.renderChart(this.chartData, this.options)
    },
    watch: {
        data: function() {
            //this.renderChart(this.data, this.options);
            this.renderChart(this.chartData, this.options)
        }
    },
    computed: {
        chartData(){
            return this.data
        }
    }
}
</script>

<style>
</style>
