<template>
    <div id="app">
        <router-view v-if="has_session"/>
        <login-view v-else/>
    </div>
</template>
<script>
import LoginView from "@/views/LoginView";

export default {
    name: "App",
    components: {LoginView},
    data() {
        return {
            has_session: false,
        }
    },
    beforeMount() {
        document.title = "Vodafone App";
        this.checkSession()
    },
    watch: {
        $route() {
            this.checkSession()
        }
    },
    methods: {
        checkSession() {
            this.has_session = ((this.$session.get("id") || null) != null)
        }
    }
};
</script>
<style lang="scss">
@import "assets/stylesheets/variables";

#app {
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
    width: clamp(100%, 25%, 600px);
    aspect-ratio: 9/16;
    margin: 0 auto;
}
</style>
