<template>
    <div id="calls" class="slide bg-red" :style="{backgroundImage: `url(${image})`}">
        <div class="overlay slide bg-overlay-light" :class="styling">
            <div class="middle">
                <div class="first">
                    <p>Naast internetten heb je <b>{{ usedMinutesTotal }} minuten</b> gebeld</p>
                </div>
                <div class="third fadein" v-if="showFact">
                    <p>
                        <b>Feitje:</b><br>
                        <i>
                            {{ usedMinutesTotal }} belminuten staat ongeveer
                            gelijk aan <br>
                            <b>{{ usedHoursTotal }} uur!</b>
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Image from "@/assets/images/red-velvet.jpg";
import CalculationSlide from "@/components/CalculationSlide";

export default {
    name: "CallingUsageSlide",
    extends: CalculationSlide,
    data() {
        return {
            image: Image
        }
    },
    computed: {
        usedHoursTotal() {
            return Math.round(((this.usedMinutesTotal / 60) / 10) * 10)
        },
        showText() {
            return this.past(500)
        },
        showFact() {
            return this.past(4000)
        },
        styling(){
            if (this.showText){
                return 'txt-white'
            }
            return 'txt-trans'
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#calls {
    & .overlay {
        padding: 40% 40px 0;
        & .middle {
            & .second {
                padding-top: 10%;
            }

            & .third {
                padding-top: 20%;
            }
        }
    }
}
</style>
