<template>
    <div id="choice" class="slide" :style="{backgroundImage: `url('${image}')`}">
        <div class="overlay bg-overlay" :class="styling">
            <div class="middle">
                <p v-if="newContractType == null" class="choice-text summary">De keuze ligt bij jou. <br><i>Wat kies je?</i></p>
                <p v-else class="choice-text summary">
                    Je hebt eerder gekozen voor een <b>{{ newContractName }}</b>.
                    <br><i>Wil je dat nog steeds?</i><br>
                    <small>Je hebt nu nog een <b>{{ contractName }}</b> pakket</small>
                </p>
                <div class="choice fadein">
                    <div v-if="newContractType == null" class="buttons">
                        <button :class="stylingAccept" :disabled="clickedNo" @click="yes">{{ otherName }} pakket</button>
                        <button :class="stylingDeny" :disabled="clickedYes" @click="no">Ik verander niets</button>
                    </div>
                    <div v-else class="buttons">
                        <button :class="stylingAccept" :disabled="clickedNo" @click="yes">Ja, het {{ otherName }} pakket</button>
                        <button :class="stylingDeny" :disabled="clickedYes" @click="no">Nee, toch {{ contractName }}</button>
                    </div>
                    <button @click="later" class="link txt-maybe">Ik kijk later wel</button>
                </div>
                <div class="clicked fadein" v-if="clickedNo || clickedYes">
                    <p v-if="clickedYes"><i><small>We passen je abonnement aan naar een <b>{{ otherName }} pakket</b>. De eerstvolgende maand gaat dit abonnement in!</small></i></p>
                    <p v-else-if="clickedNo"><i><small>Je <b>{{ contractName }} abonnement</b> blijft zoals het is.</small></i></p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import CalculationSlide from "@/components/CalculationSlide";
import Glass from "@/assets/images/glass.jpg";

export default {
    name: "ChoiceSlide",
    extends: CalculationSlide,
    data() {
        return {
            image: Glass,
            clickedYes: false,
            clickedNo: false,
        }
    },
    computed: {
        stylingAccept() {
            if (this.newContractType != null && this.otherType === this.newContractType) {
                return `txt-white bg-${this.otherIsExpensive? 'no' : 'yes'}`
            }
            if (this.clickedYes) {
                return `txt-white bg-${this.otherIsExpensive? 'no' : 'yes'}`
            }
            return `bg-white txt-${this.otherIsExpensive? 'no' : 'yes'}`
        },
        stylingDeny() {
            if (this.clickedNo) {
                return `txt-white bg-${!this.otherIsExpensive? 'no' : 'yes'}`
            }
            return `bg-white txt-${!this.otherIsExpensive? 'no' : 'yes'}`
        },
        styling() {
            if (this.before(500)) {
                return "txt-trans"
            }
            return "txt-white"
        }
    },
    methods: {
        yes() {
            this.clickedYes = true;
            this.updateContract(this.otherType)
        },
        no() {
            this.clickedNo = true;
            this.updateContract("")
        },
        later() {
            this.$emit("next")
        },
        updateContract(newContractType) {
            this.$session.set("new_contract_type", newContractType)
        },
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#choice {
    & .overlay {
        padding: 50% 20px 0;

        & .summary {
            padding-bottom: 10%;
        }

        & .clicked {
            padding-top: 10%;
        }
    }
}
</style>
