<template>
    <div id="usage" class="slide bg-red txt-white" :style="{backgroundImage: `url(${image})`}">
        <div class="overlay slide bg-overlay-light" :class="styling">
            <div class="middle" :class="!fadeOutAll? '': 'fadeout'">
                <div class="top">
                    <div class="first" v-if="!flipText">
                        <p>Jouw verbruik deze afgelopen 6 maanden</p>
                    </div>
                    <div class="second" v-else>
                        <p>
                            Je hebt {{ usedGbsPercentage > 120? 'maar' : '' }} <b>{{ usedGbTotal }}Gb</b>
                            van de <b>{{ contractGbsTotal }}Gb</b> gebruikt{{ usedGbsPercentage > 120? '...' : '!' }}</p>
                    </div>
                </div>
                <div class="bottom">
                    <usage-chart :user="user"/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import UsageChart from "@/components/story/UsageChart";
import Image from "@/assets/images/red-velvet.jpg";
import CalculationSlide from "@/components/CalculationSlide";

export default {
    name: "UsageSlide",
    components: {UsageChart},
    extends: CalculationSlide,
    data() {
        return {
            image: Image
        }
    },
    computed: {
        flipText() {
            return this.on(6000, 12000)
        },
        fadeOutAll() {
            return this.past(11750)
        },
        styling() {
            if (this.on(1000, 5000)) {
                return 'txt-white'
            } else if (this.on(5500, 6000)) {
                return 'txt-trans'
            } else if (this.past(6000)) {
                return 'txt-white'
            }
            return 'txt-trans'
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#usage {
    & .overlay {
        padding: 0;

        & .middle {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .top {
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 0 30px 30px;

                & .alt {
                    padding-top: 40px;
                }
            }

            & .bottom {
                height: 60%;
                padding: 10px;
            }
        }
    }
}
</style>
