<template>
    <div id="the-end" class="slide center">
        <div class="small-story">
            <component :is="component" :user="user" :time="2000" />
        </div>
        <div class="end-container fadein">
            <button @click="$emit('restart')">
                <font-awesome-icon :icon="['fal', 'sync']" />
                <span> Opnieuw bekijken</span>
            </button>
            <router-link to="/">
                <font-awesome-icon :icon="['fal', 'times']" />
                <span> Afsluiten</span>
            </router-link>
        </div>
    </div>
</template>
<script>
export default {
    name: "EndSlide",
    props: {
        stories: Array,
        user: Object
    },
    data() {
        return {
            index: 0,
            interval: null
        }
    },
    created() {
        this.interval = setInterval(this.up, 1000)
    },
    destroyed() {
        clearInterval(this.interval)
    },
    watch: {
        component() {
            if (this.component == null) {
                this.up()
            }
        }
    },
    computed: {
        story() {
            return this.stories[this.index] || {}
        },
        component() {
            return this.story?.component;
        }
    },
    methods: {
        up() {
            this.index++;
            if (this.index > (Object.values(this.stories).length - 1)) {
                this.index = 0;
            }
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/views/End";
</style>
