<template>
    <div id="future" class="slide bg-black" :style="{backgroundImage: `url(${image})`}">
        <div class="overlay bg-overlay" :class="styling">
            <p>Wij bij <b>Vodafone</b> denken graag met je mee.</p>
            <p v-if="showFuture" class="future fadein">
                Daarom hebben we gekeken of je <b>kosten kan besparen</b>.
            </p>
        </div>
        <video ref="video" :src="videoSource"></video>
    </div>
</template>
<script>
import Image from "@/assets/images/rain.jpg";
import Slide from "@/components/Slide";
import VideoSource from "@/assets/videos/money.mp4";

export default {
    name: "FutureIntroSlide",
    extends: Slide,
    data() {
        return {
            image: Image,
            videoSource: VideoSource,
            video: this.$refs.video
        }
    },
    mounted() {
        this.video = this.$refs.video
        this.video.muted = true;
        this.video.loop = true;
        this.toggle(this.paused)
    },
    watch: {
        paused(paused) {
            this.toggle(paused)
        }
    },
    computed: {
        showFuture() {
            return this.past(4000)
        },
        styling() {
            return 'txt-white'
        }
    },
    methods: {
        toggle(paused) {
            if (paused) {
                this.video.pause()
            } else {
                this.video.play()
            }
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#future {
    .overlay {
        z-index: 20;
    }

    & p.future {
        margin-top: 20%;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}
</style>
