<template>
    <div id="future" class="slide" :style="{backgroundImage: `url(${image})`}">
        <div class="overlay bg-overlay" :class="styling">
            <p v-if="usedGbsPercentage > 120">Er is altijd wel ruimte voor verbetering. Daarom kijken we ook graag naar de <b>toekomst</b>.</p>
            <p v-else>Nu dat we naar het <b>verleden</b> hebben gekeken is het tijd voor de <b><i>toekomst!</i></b></p>
            <p v-if="showFuture" class="future fadein">
                The future <br>
                is exciting!<br>
                <b v-if="showReady" class="fadein">Ready?</b>
            </p>
        </div>
    </div>
</template>
<script>
import Image from "@/assets/images/sunset.jpg";
import CalculationSlide from "@/components/CalculationSlide";

export default {
    name: "FutureSlide",
    extends: CalculationSlide,
    data() {
        return {
            image: Image
        }
    },
    computed: {
        showFuture() {
            return this.past(4000)
        },
        showReady() {
            return this.past(5000)
        },
        styling() {
            if (this.past(500)) {
                return 'txt-white'
            }
            return 'txt-trans'
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#future {
    & p.future {
        margin-top: 20%;
    }
}
</style>
