<template>
    <div id="intro" class="slide" :style="{backgroundImage: `url('${image}')`}">
        <div class="overlay slide" :class="styling">
            <div class="middle">
                <div class="first" v-if="!flipText">
                    <p>
                        In <b>{{ month }} {{ year }}</b>
                        heb je een <b>{{ contractName }} abonnement</b>
                        afgesloten met:
                    </p>
                    <ul>
                        <li><b>{{ contractGbs }} Gb data</b></li>
                        <li><b>{{ contractMinutes === 999? "onbeperkt" : contractMinutes }} belminuten</b></li>
                        <li><b>onbeperkt sms'jes</b></li>
                    </ul>
                    <p><small>voor <b>€{{ contractPrice }} per maand</b>.</small></p>
                </div>
                <div class="second" v-else>
                    <p>
                        Dat betekent dat je de afgelopen
                        <b>{{ months }} maanden</b>:
                    </p>
                    <ul>
                        <li><b>{{ contractGbsTotal }} Gb data</b> kon gebruiken</li>
                        <li><b>{{ contractMinutes === 999? "onbeperkt kon bellen" : `${contractMinutesTotal} minuten kon bellen` }}</b></li>
                        <li><b>onbeperkt kon sms'en</b></li>
                    </ul>
                    <p><small>en in totaal <b>€{{ contractPriceTotal }} hebt betaald</b>.</small></p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Glass from "@/assets/images/glass.jpg"
import CalculationSlide from "@/components/CalculationSlide";

export default {
    name: "IntroSlide",
    extends: CalculationSlide,
    data() {
        return {
            show: false,
            image: Glass
        }
    },
    computed: {
        month() {
            let month = ['januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december'];
            return month[this.contractDate.getMonth()]
        },
        year() {
            return this.contractDate.getFullYear();
        },
        flipText() {
            return this.past(9000);
        },
        styling() {
            if (this.on(0, 500)) {
                return "bg-overlay txt-trans";
            } else if (this.on(500, 8500)) {
                return "bg-overlay txt-white";
            } else if (this.on(8500, 9000)) {
                return "bg-overlay txt-trans";
            } else if (this.on(9000, 17500)) {
                return "bg-overlay txt-white";
            } else {
                return "bg-overlay txt-trans";
            }
        }
    },
}
</script>
<style lang="scss" scoped>
#intro {

    & .overlay {
        font-size: inherit;
        width: 100%;
        height: 100%;
        padding: 40% 30px;
    }
}
</style>
