<template>
    <div id="proposal" class="slide" :style="{backgroundImage: `url(${image})`}">
        <div class="overlay bg-overlay" :class="styling">
            <p>Momenteel maak je gebruik van het <b>{{ contractName }} abonnement</b>.</p>
            <div v-if="showFuture" class="proposal">
                <p v-if="otherType != null" class="fadein">Het <b>{{ otherName }} abonnement</b> is een <b>goedkoper abonnement</b>.</p>
                <p v-else class="fadein">Dat is het <b>goedkoopste abonnement</b> dat we te bieden hebben.</p>
            </div>
        </div>
    </div>
</template>
<script>
import Image from "@/assets/images/sunset.jpg";
import CalculationSlide from "@/components/CalculationSlide";

export default {
    name: "ProposalSlide",
    extends: CalculationSlide,
    data() {
        return {
            image: Image
        }
    },
    computed: {
        showFuture() {
            return this.past(4000)
        },
        styling() {
            return 'txt-white'
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#proposal {
    & div.proposal {
        margin-top: 20%;
    }
}
</style>
