<template>
    <div id="recommendation" class="slide bg-red txt-white" :style="{backgroundImage: `url('${image}')`}">
        <div class="overlay bg-overlay">
            <div class="all bg-white txt-black block">
                <p class="txt-red"><b>Kortom:</b></p>
                <ul>
                    <li>Een <b>{{ otherName }} abonnement</b> kost in totaal <b>€{{ totalPrice }}</b> per {{ months }} maanden.</li>
                    <li>Jouw <b>{{ contractName }} abonnement</b> kost<br> <b>€{{ contractPriceTotal }}</b> per {{ months }} maanden.</li>
                </ul>
                <p class="total">
                    <small>
                        Een <b>{{ otherName }} abonnement</b> is dus<br>
                        <b :class="otherIsExpensive? 'txt-no' : 'txt-yes'">
                            €{{ totalPriceDifference }} {{ otherIsExpensive? 'duurder' : 'goedkoper' }}
                        </b> dan je nu betaald.
                    </small>
                </p>
            </div>
            <div class="text">
                <div class="summary" :class="!showText? 'fadein' : 'fadeout'">
                    <p v-if="otherIsSame">
                        Er is maar weinig verschil tussen de abonnementen in verhouding met jouw verbruik.
                    </p>
                    <p v-else-if="otherIsExpensive">
                        Jouw <br><b>{{ contractName }} abonnement</b> is de <span class="txt-yes">beste keuze</span>!
                    </p>
                    <p v-else-if="otherIsCheaper">
                        Een <b>{{ otherName }} abonnement</b> sluit misschien beter bij jou aan. <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Glass from "@/assets/images/glass.jpg"
import CalculationSlide from "@/components/CalculationSlide";

export default {
    name: "RecommendationSlide",
    extends: CalculationSlide,
    data() {
        return {
            image: Glass
        }
    },
    computed: {
        showText() {
            return this.past(19000)
        },
        styling() {
            if (this.before(500)) {
                return "txt-trans"
            }
            return "txt-white"
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#recommendation {
    & .overlay {
        padding: 25% 20px 0;

        & .total {
            padding-top: 5%;
        }
        & .summary {
            padding-top: 10%;
            padding-bottom: 10%;
        }
    }
}
</style>
