<template>
    <div id="total" class="slide txt-trans bg-gradient">
        <div class="overlay">
            <div class="middle" :class="hideAll? 'fadeout' : ''">
                <p :class="styling">Even rekenen</p>
                <div v-if="show_contract" class="summary block bg-white txt-black fadein">
                    <p class="txt-red"><b>{{ contractName }}<br><small><i>jouw abonnement</i></small></b></p>
                    <ul>
                        <li>{{ contractGbsTotal }} Gb</li>
                        <li>{{ contractMinutesTotalText }}</li>
                        <li>Onbeperkt sms'en</li>
                    </ul>
                    <p><small>Voor <b>€{{ contractPriceTotal }} in {{ months }} maanden</b>.</small></p>
                </div>
                <div v-if="showOtherContract" class="summary block bg-white txt-black fadein">
                    <p class="txt-red"><b>{{ otherName }}</b></p>
                    <ul>
                        <li>{{ otherGbsText }}</li>
                        <li>{{ totalMinutesText }}</li>
                        <li>Onbeperkt sms'en</li>
                    </ul>
                    <p v-if="limitData > 0 && limitMinutes > 0">
                        <small>
                            <span>Het abonnement is <b>€{{ otherPriceTotal }} per maand</b>. <br></span>
                            <span v-if="limitData > 0">+ <b>€{{ finesData }}</b> aan {{ limitData }}Gb extra data<br></span>
                            <span v-if="limitMinutes > 0">+ <b>€{{ finesMinutes }}</b> aan {{ limitMinutes }} extra belminuten<br></span>
                        </small>
                    </p>
                    <p class="total"><small><i>Dat is <b :class="otherIsExpensive? 'txt-no':'txt-yes'">€{{ totalPrice }}</b> per <b>{{ months }} maanden</b>.</i></small></p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Image from "@/assets/images/wood.jpg";
import CalculationSlide from "@/components/CalculationSlide";

export default {
    name: "SummaryTotalSlide",
    extends: CalculationSlide,
    data() {
        return {
            image: Image,
        }
    },
    computed: {
        show_contract() {
            return this.past(500)
        },
        showOtherContract() {
            return this.past(750)
        },
        showText() {
            return this.past(10000)
        },
        hideAll() {
            return this.past(13500)
        },
        styling() {
            if (this.before(500)) {
                return "txt-trans"
            }
            return "txt-white"
        }
    },
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#total {
    & .overlay {
        padding: 20% 20px 0;

        & .summary {
            margin-top: 20px;
        }
        & .total {
            padding-top: 5%;
        }
    }
}
</style>
