<template>
    <div id="summary" class="slide txt-trans bg-gradient">
        <div class="overlay">
            <div class="middle" :class="`${hideAll? 'fadeout' : ''}  ${styling}`">
                <p>Even alles op een rijtje</p>
                <div v-if="showContract" class="summary block bg-white txt-black fadein">
                    <p class="txt-red">
                        <b>{{ contractName }}</b><br><small><i>jouw abonnement</i></small></p>
                    <ul>
                        <li>{{ contractGbs }} Gb</li>
                        <li>{{ contractMinutesText }}</li>
                        <li>Onbeperkt sms'en</li>
                    </ul>
                    <p><small>Voor <b>€{{ contractPrice }} per maand</b>.</small></p>
                </div>
                <div v-if="showOtherContract" class="summary block bg-white txt-black fadein">
                    <p class="txt-red"><b>{{ otherName }}</b></p>
                    <ul>
                        <li>{{ otherGbs }} Gb</li>
                        <li>{{ otherMinutesText }}</li>
                        <li>Onbeperkt sms'en</li>
                    </ul>
                    <p><small>Voor <b>€{{ otherPrice }} per maand</b>.</small></p>
                </div>
                <p v-if="showText" class="fadein"><small>Nu gaan we rekenen</small></p>
            </div>
        </div>
    </div>
</template>
<script>
import Image from "@/assets/images/wood.jpg";
import CalculationSlide from "@/components/CalculationSlide";

export default {
    name: "SummarySlide",
    extends: CalculationSlide,
    data() {
        return {
            image: Image,
        }
    },
    computed: {
        showContract() {
            return this.past(500)
        },
        showOtherContract() {
            return this.past(750)
        },
        showText() {
            return this.past(10000)
        },
        hideAll() {
            return this.past(13500)
        },
        styling() {
            if (this.before(500)) {
                return "txt-trans"
            }
            return "txt-white"
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#summary {
    & .overlay {
        padding: 20% 20px 0;

        & .summary {
            margin-top: 20px;
        }
    }
}
</style>
