<template>
    <div id="the-end" class="slide" :style="{backgroundImage: `url('${image}')`}">
        <div class="overlay bg-overlay" :class="styling">
            <div class="middle">
                <div class="choice-text summary">
                    <p><i>Dat was het!</i></p>
                    <p>Hopelijk hebben we je goed kunnen helpen!</p>
                    <p>:)</p>
                </div>
                <div v-if="showText" class="question fadein summary">
                    <p><i>Wat vind je van dit terugblikmoment?</i></p>
                </div>
                <div v-if="showText" class="choice fadein">
                    <div class="buttons">
                        <button class="button" :class="stylingAccept" :disabled="clickedNo" @click="yes">Handig!</button>
                        <button class="button" :class="stylingDeny" :disabled="clickedYes" @click="no">Onnodig</button>
                    </div>
                    <button @click="later" class="button link">Geen mening</button>
                </div>
            </div>
        </div>
        <video ref="video" :src="videoSource"></video>
    </div>
</template>
<script>
import CalculationSlide from "@/components/CalculationSlide";
import Glass from "@/assets/images/glass.jpg";
import VideoSource from "@/assets/videos/glitter.mp4";

export default {
    name: "ChoiceSlide",
    extends: CalculationSlide,
    data() {
        return {
            videoSource: VideoSource,
            video: this.$refs.video,
            image: Glass,
            clickedYes: false,
            clickedNo: false,
        }
    },
    mounted() {
        this.video = this.$refs.video
        this.video.muted = true;
        this.video.loop = true;
        this.toggle(this.paused)
    },
    watch: {
        paused(paused) {
            this.toggle(paused)
        }
    },
    computed: {
        showText() {
            return this.past(2000)
        },
        stylingAccept() {
            if (this.clickedYes) {
                return 'bg-yes txt-white'
            }
            return `bg-white ${this.otherIsExpensive? 'txt-no' : 'txt-yes'}`
        },
        stylingDeny() {
            if (this.clickedNo) {
                return 'bg-no txt-white'
            }
            return`bg-white ${!this.otherIsExpensive? 'txt-no' : 'txt-yes'}`

        },
        styling() {
            if (this.before(500)) {
                return "txt-trans"
            }
            return "txt-white"
        }
    },
    methods: {
        toggle(paused) {
            if (paused) {
                this.video.pause()
            } else {
                this.video.play()
            }
        },
        yes() {
            this.clickedYes = true;
        },
        no() {
            this.clickedNo = true;
        },
        later() {
            this.$emit("next")
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#the-end {
    & .overlay {
        padding: 50% 20px 0;
        position: relative;
        z-index: 118;

        & .summary {
            padding-bottom: 10%;
        }

        & .clicked {
            padding-top: 10%;
        }

        & .buttons {
            z-index: 150;
        }
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 15;
    }
}
</style>
