<template>
    <div id="unlimited-calls" class="slide txt-white bg-black">
        <div class="overlay slide center bg-overlay-light">
            <div class="middle">
                <p>
                    Maar ach,<br><br>
                    Je hebt toch <b><i>unlimited belminuten</i></b>
                </p>
            </div>
        </div>
        <video ref="video" :src="videoSource"></video>
    </div>
</template>
<script>
import VideoSource from "@/assets/videos/waving-money.mp4"
import Slide from "@/components/Slide";

export default {
    name: "UnlimitedCallSlide",
    extends: Slide,
    data() {
        return {
            videoSource: VideoSource,
            video: this.$refs.video
        }
    },
    mounted() {
        this.video = this.$refs.video
        this.video.muted = true;
        this.video.loop = true;
        this.toggle(this.paused)
    },
    watch: {
        paused(paused) {
            this.toggle(paused)
        }
    },
    methods: {
        toggle(paused) {
            if (paused) {
                this.video.pause()
            } else {
                this.video.play()
            }
        }
    }
}
</script>
<style scoped>
.overlay {
    padding: 40px;
    z-index: 20;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
</style>
