<template>
    <div id="usage" class="slide bg-gradient txt-white">
        <div class="overlay slide" :class="styling">
            <div class="middle" :class="!fade_out_all? '': 'fadeout'">
                <div class="top">
                    <div class="first" v-if="show_first">
                        <p>Momenteel maak je gebruik van het <b>{{ contractName }} abonnement</b>.</p>
                    </div>
                    <div class="second" v-else>
                        <div class="cheaper" v-if="otherIsCheaper">
                            <p>Wij denken dat een <b>{{ otherName }} abonnement </b>beter bij je past.</p>
                        </div>
                        <div class="almost" v-else-if="otherIsSame">
                            <p>Zoals je kan zien is het niet de moeite waard om een abonnement te veranderen.</p>
                        </div>
                        <div class="almost" v-else-if="otherIsExpensive">
                            <p>Zoals je ziet, past jouw <b>{{ contractName }} abonnement</b> het best bij jou.</p>
                        </div>
                        <p class="fadein"><i><small><small>We leggen even uit waarom precies.</small></small></i></p>
                    </div>
                </div>
                <div class="bottom">
                    <usage-chart v-if="show_first" :user="user" />
                    <usage-chart v-else :user="user" :other-type="otherType" :other-contract="otherContract"/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import UsageChart from "@/components/story/UsageChart";
import Image from "@/assets/images/sunset.jpg";
import CalculationSlide from "@/components/CalculationSlide";

export default {
    name: "VersusSlide",
    components: {UsageChart},
    extends: CalculationSlide,
    data() {
        return {
            image: Image,
        }
    },
    computed: {
        show_first() {
            return this.before(7000)
        },
        fade_out_all() {
            return this.past(14500)
        },
        styling() {
            if (this.on(0, 500)) {
                return 'txt-trans'
            } else if (this.on(500, 6500)) {
                return 'txt-white'
            } else if (this.on(6500, 7000)) {
                return 'txt-trans'
            } else if (this.on(7000, 14500)) {
                return 'txt-white'
            } else {
                return 'txt-trans'
            }
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/animations";

#usage {
    & .overlay {
        padding: 0;

        & .middle {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .top {
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 0 30px 30px;

                & .alt {
                    padding-top: 40px;
                }
            }

            & .bottom {
                height: 60%;
                padding: 10px;
            }
        }
    }
}
</style>
