<template>
    <div id="welcome" class="slide" :style="{backgroundImage: `url('${image}')`}">
        <div class="overlay slide" :class="styling">
            <div class="middle">
                <p v-if="!flipText">
                    <b>Hoi {{ name }}</b>
                </p>
                <p v-else-if="flipText && !flipTextAgain">
                    Welkom bij jouw <br>
                    <i><b>Terugblikmoment!</b></i>
                </p>
                <p v-else>
                    In deze terugblik <br>
                    gaan we de afgelopen <br>
                    <i><b>{{ months }} maanden</b></i>
                    voor jou samenvatten.
                    <br><br>
                    <b v-if="ready" class="fadein">Ready?</b>
                </p>
            </div>
            <div class="logo" :class="fullWhite? 'hide' : null">
                <img :src="logo" alt="Vodafone logo">
            </div>
        </div>
    </div>
</template>
<script>
import Slide from "@/components/Slide";
import Logo from "@/assets/logo/vodafone-logo-white.png"
import Glass from "@/assets/images/glass.jpg"

export default {
    name: "WelcomeSlide",
    extends: Slide,
    data() {
        return {
            logo: Logo,
            show: false,
            image: Glass
        }
    },
    computed: {
        flipText() {
            return this.past(3500)
        },
        flipTextAgain() {
            return this.past(6500)
        },
        ready() {
            return this.past(7500)
        },
        fullWhite() {
            return this.past(11500)
        },
        styling() {
            if (this.on(0, 1000)) {
                return `bg-overlay txt-trans`
            } else if (this.on(1000, 3000)) {
                return `bg-overlay txt-white`
            } else if (this.on(3000, 3500)) {
                return `bg-overlay txt-trans`
            } else if (this.on(3500, 6000)) {
                return `bg-overlay txt-white`
            } else if (this.on(6000, 6500)) {
                return `bg-overlay txt-trans`
            } else if (this.on(6500, 7000)) {
                return `bg-overlay txt-white`
            } else if (this.on(7000, 11500)) {
                return `bg-overlay txt-white`
            }
            return `bg-overlay txt-trans`
        }
    }
}
</script>
<style lang="scss" scoped>
@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/transitions";
@import "src/assets/stylesheets/animations";

#welcome {
    background-color: $black;

    & .logo {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        transition: 0.3s;

        &.hide {
            height: 0;
            overflow: hidden;
        }
    }
}
</style>
