
.fadein {
  opacity: 0;
  animation-name: -lookback-fadein;
  animation-duration: 500ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes -lookback-fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeout {
  opacity: 1;
  animation-name: -lookback-fadeout;
  animation-duration: 250ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}

@keyframes -lookback-fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.slide-right {
  overflow: hidden;
  margin-left: 300px;
  max-width: 500px
}

.slide-right {
  transform: translateX(-100%);
  animation-name: -lookback-slide-right;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes -lookback-slide-right {
  50%, 100% { transform: translateX(0); }
}
