@import "variables";

@mixin animateBackground($what, $color1, $color2, $seconds) {
  animation-name: #{$what}#{$color1}#{$color2};
  animation-delay: $seconds;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes #{$what}#{$color1}#{$color2} {
    0% {
      #{$what}: $color1;
    }
    100% {
      #{$what}: $color2;
    }
  }
}

@mixin defineColor($what, $color) {
  .bg-#{$what} {
    background-color: $color;
    transition: 500ms;
  }
  .txt-#{$what} {
    color: $color;
    transition: 500ms;
  }
}

@mixin gradient($dark: $red) {
  background: linear-gradient(180deg, $red_light 0%, $dark 67%);
}
