@font-face {
  font-family: 'Vodafone';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Vodafone Light'), local('Vodafone-Light'), url("~@/assets/stylesheets/fonts/Vodafone-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Vodafone';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Vodafone'), local('Vodafone'), url("~@/assets/stylesheets/fonts/Vodafone.ttf") format('truetype');
}

@font-face {
  font-family: 'Vodafone';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Vodafone Bold'), local('Vodafone-Bold'), url("~@/assets/stylesheets/fonts/Vodafone-Bold.ttf") format('truetype');
}
