@import "fonts";
@import "variables";
@import "mixins";

* {
  outline: none;
  box-sizing: border-box;
}

* {box-sizing: border-box}

body {
  background-color: $black;
  font-family: "Vodafone", Montserrat, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  margin: 15px 0 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 22pt;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin: 0;
}

img {
  max-width: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

.slide {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & .overlay {
    width: 100%;
    height: 100%;
    padding: 40% 30px;
  }

  & p {
    font-size: 35px;
    line-height: 35px;
    margin: 0;
  }

  & ul, small {
    margin: 15px 0 10px;
    padding: 0 0 0 25px;
    list-style-type: square;
    font-size: 20px;
    line-height: 22px;
    display: inline-block;
  }

  & small {
    margin: 0;
    padding: 0;
  }

  & .block {
    border-radius: 10px;
    padding: 20px;
  }

  .choice {
    position: relative;
    z-index: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .buttons {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    & button {
      font-size: 25px;
      text-transform: uppercase;
      width: 100%;
      border: 0;
      border-radius: 12px;
      padding: 20px 10px;
      margin: 0;
      z-index: 500;
      position: relative;

      &:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 1px solid $grey;
      }

      &:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 1px solid $grey;
      }

      &:disabled {
        color: #BDBDBD;
        background-color: $white;
      }

      &.link {
        color: $white;
        background-color: transparent;
        font-weight: bold;
        text-decoration: underline;
        text-transform: none;
        font-size: 20px;
        padding: 10px;
        border: 0;
      }
    }
  }
}

.small-story {
  background-color: $red;
  width: clamp(200px, 60%, 400px);
  height: 100%;
  max-height: 400px;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  & .slide,
  & .slide p {
    font-size: 20px;
    line-height: 20px;
  }
}

@include defineColor(red, $red)
@include defineColor(white, $grey)
@include defineColor(black, $black)
@include defineColor(grey, $grey_dark)
@include defineColor(trans, transparent)
@include defineColor(overlay, rgba(black, 0.6))
@include defineColor(overlay-light, rgba(black, 0.6))
.bg-gradient {
  @include gradient($red_dark);
}

@include defineColor(no, #DB3F3F)
@include defineColor(yes, #2ABD47)
@include defineColor(yes, #29A53E)
@include defineColor(maybe, #3F9DDB)
